.Body {
    background-image: linear-gradient(to bottom right,
    rgba(253, 209, 141),
    rgba(78, 53, 21));
    min-height: 100vh;
}

.AddMember {
    color: rgba(255, 255, 255);
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #212529;
    min-width: 30%;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
}

.FormHeader{
    font-size: x-large;
    padding-bottom: 2%;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1; /* Firefox */
  }
  
  .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;
  }
  
  .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: white !important;
  }