.Body {
  background-image: linear-gradient(to bottom right,
      rgba(253, 209, 141),
      rgba(78, 53, 21));
  min-height: 100vh;
}

.AllMembers {
  color: rgba(255, 255, 255);
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #212529;
  min-width: 70%;
  position: absolute;
  height: 70%;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.PDF3 {
  max-height: 83.5%;
  overflow-y: auto;
}

.FormHeaderAM{
  font-size: x-large;
  font-weight: bold;
}

.member-row:hover {
  cursor: pointer;
}

.dropdown-menu {
  left: -5px !important;
  top: 57px
}
