.Body {
  background-image: linear-gradient(to bottom right,
      rgba(253, 209, 141),
      rgba(78, 53, 21));
  min-height: 100vh;
  overflow: hidden;
}

.card {
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgb(73, 73, 73);
}

.tcard {
  border-radius: 20px;
  min-height: 87vh;
  box-shadow: 2px 2px 2px 2px rgb(73, 73, 73);
}

h1 {
  text-align: center;
}
