.dropdown-menu {
    left: -2rem !important;
    top: 57px
}

.ddm-2 {
    left: 0px !important;
    top: 57px;
    max-width: 140px;
}

.ddm-2-btn {
    width: 140px;
}

.nav-btn {
    max-width: 150px;
}